<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.StreamingCheckArrConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.StreamingCheckArrConfig>
            <setting name="SonarrUrl" serializeAs="String">
                <value>aaaa</value>
            </setting>
            <setting name="RadarrUrl" serializeAs="String">
                <value>aaa</value>
            </setting>
            <setting name="TraktWatchListUrl" serializeAs="String">
                <value>aaa</value>
            </setting>
            <setting name="TraktClientID" serializeAs="String">
                <value>aaa</value>
            </setting>
            <setting name="TraktClientSecret" serializeAs="String">
                <value>aaa</value>
            </setting>
            <setting name="TMDBApiKey" serializeAs="String">
                <value>aaa</value>
            </setting>
            <setting name="TMDBReadToken" serializeAs="String">
                <value />
            </setting>
        </Core.StreamingCheckArrConfig>
    </applicationSettings>
</configuration>